

body {
    background-image: url("http://www.publicdomainpictures.net/pictures/40000/velka/abstract-green-background-1361187771Euk.jpg");
    background-size: cover;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: grey;
 }
 
.thumbnail {
    border-radius: 0px;
}